{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}"
    />
    <script
      id="Script"
      type="text/javascript"
      src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.js' %}"
    ></script>
    <title>Logs</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" aria-current="dashboard" href="dashboard">Recorded Video</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" aria-current="logs" href="logs">Logs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" aria-current="live" href="live">Live classification</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h5>Date:<span class="navbar-text" id="date"> </span></h5>
            <h5>Time: <span class="navbar-text" id="time"></span></h5>
            <span class="navbar-text">Welcome {{username}}</span>
            <form class="d-flex" role="search" action="Logout" method="post">
                <button class="btn btn-outline-success" id="logout" name="logoutBtn" type="submit"> {% csrf_token %}
                    Logout</button>
            </form>
            </div>
        </div>
    </nav>
    <table class="table" id="Table"></table>
</body>
<script type="text/javascript" src="{% static 'css/time_session.js' %}"></script>
<script>
let JsonObject;
fetch('send_json')
.then((response) => response.json())
.then((data) => {
    JsonObject = data;
    //console.log(data)

console.log(JsonObject);
var headers = Object.keys(JsonObject[0]);

//Prepare html header
var headerRowHTML='<tr>';
for(var i=1;i<headers.length;i++){
    headerRowHTML+='<th>'+headers[i]+'</th>';
}
headerRowHTML+='</tr>';       

//Prepare all the employee records as HTML
var allRecordsHTML='';
for(var i=0;i<JsonObject.length;i++){
    
    //Prepare html row
    allRecordsHTML+='<tr>';
    for(var j=1;j<headers.length;j++){
        if(JsonObject[i]["username"] === "{{username}}"){
        var header=headers[j];
        allRecordsHTML+='<td>'+JsonObject[i][header]+'</td>';
        }
    }
    allRecordsHTML+='</tr>';
        
}
    
//Append the table header and all records
var table=document.getElementById("Table");
table.innerHTML=headerRowHTML + allRecordsHTML;
});
</script>
</html>
